<h1>Make your form here</h1>

<form action="/new" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Ship: <input type="text" name="ship[grade]">
  <input type="submit">
</form>

