<h1>
    <h2>
        <form action="/pirates" method="post">
<!--#pirate name -->
        <label for="pirate">Pirate Name</label>
        <input type="text" id="pirate" name="pirate[name]"><br>
<!--#pirate weight -->
        <label for="pirate">Pirate Weight</label>
        <input type="text" id="pirate" name="pirate[weight]"><br>
<!--#pirate height -->
        <label for="pirate">Pirate Height</label>
        <input type="text" id="pirate" name="pirate[height]"><br>

 <!--#ship 1 name -->    
    <label for="ship1name">First Ship's Name</label><br>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
 <!--#ship 1 type --> 
    <label for="ship1type">First Ship's Type</label><br>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
 <!--#ship 1 booty -->    
    <label for="ship1booty">First Ship's Type</label><br>
    <input type="text" id="ship_type_1" name="pirate[ships][][booty]"><br>

 <!--#ship 2 name -->    
    <label for="ship2name">Second Ship's Name</label><br>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
 <!--#ship 2 type --> 
    <label for="ship2type">Second Ship's Type</label><br>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
 <!--#ship 2 booty -->    
    <label for="ship2booty">Second Ship's Type</label><br>
    <input type="text" id="ship_type_1" name="pirate[ships][][booty]"><br>


  <input type="submit">





    </h2>
 </h1>
    