<form method = "post" action = "/pirates">
    <label for="pirate">Pirate Name</label>
    <input type="text" id="pirate" name=pirate[:name]>
    <label for="ship1">Pirate's First Ship</label>
    <input type="text" id="ship1" name = "pirate[:ship1]">
    <label for="ship2">Pirate's Second Ship</label>
    <input type="text" id="ship2" name = "pirate[:ship2]">
    <input type="submit" value="submit">
</form>