<form method = "post" action = "/show">
    <label for="pirate">Pirate Name</label>
    <input type="text" id="pirate" name="pirate">
    <label for="ship1">Pirate's First Ship</label>
    <input type="text" id="ship1" name = "ship1">

</form>